# Data Science Tools and Ecosystem

## Introduction:
### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List Popular Languages for Data Science
 - Data Science tools
 - Jupyter Lab

## Some of the popular languages that Data Scientists use are:
### 1. Python
### 2. R
### 3. Java
### 4. Scala

## Some of the commonly used libraries used by Data Scientists include:
### 1. Pandas
### 2. Numpy
### 3. Matplotlib
### 4. Seaborn

   | Data Science Tools |
   |--------------------|
   | R Studio           |
   | Apache Spark       |
   | TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes tohours by diving by 60.
200 / 60

3.3333333333333335

## Author
### Balaji